.container_fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.container_card {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}