.card_img {
    height: 470px;
    width: 320px;
    border-radius: 10px;
    transition: 1s;
}

.card_img:hover {
    transform: scale(1.02);
}

.card {
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}