footer {
    width: 100%;
    display: flex;
}

.content_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_footer {
    height: 80px;
}

.content_footer > p {
    color: #ffffff;
}